---
extends: flexigridisotopepeople.j2
title: People
description: List of CHICAS people
---
{% block main %}
<h2>Former CHICAS Personnel</h2>
<div id="peoplegroups">
{% for grp, res_walker in site.content.walk_status_groups() %}
{% if not grp.showGroupOnMain %}
{% for res in res_walker|surnamesort %}
{% if loop.first %}
<div class="peoplegroup">
<h3>Staff, students, and visitors</h3>
<ul>
{% endif %}
  <li><a href="{{res.full_url}}">{{ res.meta.title }}</a></li>

{% if loop.last %}
</ul>
</div>
{% endif %} 
{% endfor %}
{% endif %}
{% endfor %}

</div>

{% endblock %}

{% block sidebar %}
<h2>Former CHICAS people</h2>
<p>
This list includes students who have graduated, staff
who have moved to other places, and visitors who have 
since gone back home.
</p>
<p>
The list of <a href="index.html">current CHICAS personnel</a>
is also available.
</p>
{% endblock %}
