---
extends: flexigridisotopepeople.j2
title: People
description: List of CHICAS people
---
{% block main %}
<style>
table.people td {padding: 0 0.5em 0 0}
.people {
    display:table;
}
.header {
    display:table-header-group;
    font-weight:bold;
}
a.row {
    display:table-row;
}
.rowGroup {
}
.cell {
    display:table-cell;
    width:25%;
}
</style>
<h2>Personnel</h2>
<div id="peoplegroups">
{% for grp, res_walker in site.content.walk_status_groups() %}

{% for res in res_walker|surnamesort %}
<!-- see here http://jsfiddle.net/gionaf/A2M22/ -->
{% if loop.first %}
<div class="peoplegroup">
<h3>{{ grp.description }}</h3>
<div class="people">
{% endif %}

<a class="row" href="{{res.full_url}}">
<span class="cell" style="text-align: right">
{{res|firstnames}}
</span>
<span class="cell">
&nbsp;{{res|lastname}}
</span>
</a>

{% if loop.last %}
</div>
</div>
{% endif %} 
{% endfor %}

{% endfor %}

</div>

{% endblock %}

{% block sidebar %}
<h2>CHICAS people</h2>
<p>
CHICAS has a number of permanent university staff as
well as postdoctorate researchers on project contracts. We have a
lively group of PhD students as well as frequent visitors
from the international statistical community.

</p>
{% endblock %}
