---
extends: flexigridisotopepeople.j2
title: People
description: List of CHICAS people
---
{% block main %}
<h2>Personnel</h2>
<div id="peoplegroups">
{% for grp, res_walker in site.content.walk_status_groups() %}
{% for res in res_walker %}

{% if loop.first %}
<div class="peoplegroup">
<h3>{{ grp.description }}</h3>
<ul>
{% endif %}
  <li><a href="{{res.full_url}}">{{ res.meta.title }}</a></li>
{% for bit in res.meta.title.split(" ")|reverse %}
<ul>
<li>{{bit}}</li>
</ul>
{% endfor %}
{% if loop.last %}
</ul>
</div>
{% endif %} 
{% endfor %}

{% endfor %}

</div>

{% endblock %}

{% block sidebar %}
<h2>CHICAS people</h2>
<p>
CHICAS has a number of permanent university staff as
well as postdoctorate researchers on project contracts. We have a
lively group of PhD students as well as frequent visitors
from the international statistical community.

</p>
{% endblock %}
