---
extends: flexigridisotopepeople.j2
title: People
description: List of CHICAS people
mres: a number of students
---
{% block main %}
<!--h2>Personnel</h2-->
<div id="peoplegroups">
  {% for grp, res_walker in site.content.walk_status_groups() %}
  {% set ppl = res_walker|surnamesort %}
{% if grp.showGroupOnMain and ppl|length > 0 %}

<div class="peoplegroup">
<h3>{{ grp.description }}</h3>
<ul>

{% for res in ppl %}

  <li><a href="{{res.full_url}}">{{ res.meta.title }}</a>
  {% if grp.showAffiliation and res.meta.affiliation %}
  <div class="affiliation">{{res.meta.affiliation}}</div>
  {% endif %}
  </li>
{% endfor %}
</ul>
</div>


{% endif %}
{% endfor %}

<div class="peoplegroup">
<h3>Masters Students</h3>
<p>We currently have {{resource.meta.mres}} on our <a href="/study">MRes Global Health</a>.</p>
</div>


</div>

{% endblock %}

{% block sidebar %}
<h2>CHICAS people</h2>
<p>
CHICAS has a number of permanent university staff as
well as postdoctorate researchers on project contracts. We have a
lively group of PhD students as well as frequent visitors
from the international statistical community.
</p>
<p>
There is also a list of <a href="former.html">former CHICAS members</a>.
</p>
{% endblock %}
