---
extends: flexigridmap.j2
title: Home page
description: Home page for CHICAS
---
{% block belowcontent %}
<section class="box info" id="threebox">
  <div class="ym-grid linearize-level-1">
    <div class="ym-g66 ym-gl">
      <div class="ym-grid linearize-level-2">
	<article class="ym-g50 ym-gl">
	  <div class="ym-gbox-left">
	    <h4>Our Work</h4>
	    <p>Want to know more about spatial epidemiology or the work of the group?</p>
	    <ul>
	      <li><a href="about.html">About the group</a></li>
	      <li><a href="/projects">Project list</a></li>
	      <li><a href="/posters.html">Research Posters</a></li>
	    </ul>
	  </div>
	</article>
	<article class="ym-g50 ym-gr">
	  <div class="ym-gbox">
<h4>Locations</h4>
<a href="/map.html">
<div id="maplink">
  <img id="locationthumb" src="/media/images/graphics/location.png"/>
  <div id="locationcaption">
The <a href="/map.html">project map</a> shows our global connections.
  </div>
</div>
</a>
	  </div>
	</article>
      </div>
      
    </div>
    <article class="ym-g33 ym-gr">
      <div class="ym-gbox-right secondary">
	<h4>Tags</h4>

{% for tag,meta in site.tagger.tags.to_dict()|dictsort %}
<span class="tag label"><a href="tags.html#{{tag}}">{{tag}}</a></span>
{% endfor %}
      </div>
    </article>
  </div>
</section>
{% endblock %}

{% block main %}
<ul class="bxslider">
<li>
<img src="/media/images/slider/snowmap2.jpg" title="We are a research group of statisticians and epidemiologists in the Lancaster Medical School" />
</li>
<li>
<img src="/media/images/slider/world2.jpg" title="We develop new methodology for substantive research problems in the population health sciences" />
</li>
<li>
<img src="/media/images/slider/workshop2.jpg" title="We train researchers at the interface between statistics and population health sciences" />
</li>
<li>
<img src="/media/images/slider/arrows2.jpg" title="We collaborate with researchers in the biomedical and health sciences." />
</li>
</ul>
{% endblock %}
