---
extends: flexigrid.j2
title: Research Posters
description: Chicas Research Posters
posters:
 - title: "Discussing early phase trials: evaluation of a Cancer Research UK educational training program"
   file: 110523_ASCOposter.pdf
   image: 110523_ASCOposter.jpg
   authors: Ivonne Solis-Trapala

 - title: "Bayesian parameter estimation for the log-Gaussian Cox process"
   file: INFER2011.pdf
   image: INFER2011.jpg
   authors: Peter Diggle, Ben Taylor, Barry Rowlingson

 - title: "Understanding the natural progression in %FEV1 decline in patients with cystic fibrosis"
   file: ECFposter26May.pdf
   image: ECFposter26May.jpg
   authors: Peter Diggle

 - title: "Acute response to Sarin in veterans tested at Porton Down"
   file: ISEE2009.pptx
   image: ISEE2009.jpg
   authors: Tom Keegan
 - title: "Survival and serious long term peritoneal complications in peritoneal dialysis patients"
   file: peritoneal_dialysis.ppt
   image: peritoneal_dialysis.jpg
   authors: Peter Diggle
 - title: "A comparison of INLA and MCMC for the estimation of smoothed risk maps in epidemiology"
   file: Ramis_poster_Zurich.pptx
   image: Ramis.jpg
   authors: Rebeca Ramis, Peter Diggle
 - title: "Relative deprivation between neighbouring wards is predictive of coronary heart disease mortality after adjustment for absolute deprivation of wards"
   file: deprivation.pptx
   image: deprivation.jpg
   authors: Tom Keegan
 - title: "Exploratory analysis of leptospirosis cohort data"
   file: leptospirosis.pdf
   image: leptospirosis.jpg
   authors: Nicolas Capian, Peter Diggle
 - title: "Omissions and misunderstandings in Phase 1 trial discussions"
   file: 101013_FINALPhaseI.pdf
   image: 101013_FINALPhaseI.jpg
   authors: Ivonne Solis-Trapala
 - title: "Assessing variability in histological grade of breast cancer tumours"
   file: variability_breast_cancer_tumors.pdf
   image: variability_breast_cancer_tumors.jpg
   authors: Tom Fanshawe
 - title: "Towards real-time spatiotemporal monitoring and forecasting of meningitis incidence in sub-Saharan Africa"
   file: MERIT2010_poster_LA.MS.pdf
   image: MERIT2010.jpg
   authors: Michelle Stanton, Lydiane Agier, Barry Rowlingson, Peter Diggle
 - title: "A study of association of workload with infection of ventilator-assisted pneumonia on the intensive care unit"
   file: VAPposter.pdf
   image: VAPposter.jpg
   authors: Lisha Deng, Peter Diggle
 - title: "Epidemiology of meningococcal meningitis in Niger : a district-based comparative study"
   file: meningitis_district_based_study.pdf
   image: meningitis_district_based_study.jpg
   authors: Lydiane Agier
 - title: "UK oncologists' experiences with and attitudes towards non-NHS-funded cancer drugs: Results from an on-line survey"
   file: 101013_FINALDoH.pdf
   image: 101013_FINALDoH.jpg
   authors: Ivonne Solis-Trapala
 - title: "Preterm birth in Liverpool: What is the effect of socio-economic status? "
   file: preterm_birth.pdf
   image: preterm_birth.jpg
   authors: Peter Diggle
 - title: "Statistical modelling of development of executive function in early childhood"
   file: development_of_executive_function.pdf
   image: development_of_executive_function.jpg
   authors: Ivonne Solis-Trapala, Peter Diggle
 - title: "Modelling malaria with spatial statistics and satellite data"
   file: modelling_malaria.pdf
   image: modelling_malaria.jpg
   authors: Barry Rowlingson, Peter Diggle
 - title: "Partial likelihood analysis for spatio-temporal point process data"
   file: point_processes.pdf
   image: point_processes.jpg
   authors: Irene Kaimi, Peter Diggle
 - title: "Modelling spatio-temporal variation in black smoke pollutant concentrations"
   file: modelling_spatio-temporal_variation.pdf
   image: modelling_spatio-temporal_variation.jpg
   authors: Tom Fanshawe, Peter Diggle
 - title: "The use of estimated glomerular filtration rate and albumin creatinine ratio to predict decline in renal function in people with diabetes"
   file: decline_in_renal_function.pdf
   image: decline_in_renal_function.jpg
   authors: In&#234;s Sousa, Peter Diggle
 - title: "Microalbuminuria and reduced glomerular filtration rate are independent factors for mortality in people with diabetes mellitus"
   file: diabetes_mellitus.pdf
   image: diabetes_mellitus.jpg
   authors: In&#234;s Sousa, Peter Diggle
 - title: "Effect of socio-economic status on lung function in the UK cystic fibrosis population"
   file: NACFposter6Oct.pdf
   image: NACF.jpg
   authors: Peter Diggle
 - title: "Real-time spatio-temporal surveillance: the AEGISS project"
   file: AEGISS_project.pdf
   image: AEGISS_project.jpg
   authors: Peter Diggle
 - title: "A randomised double-blind trial of taurolidine-citrate catheter locks for the prevention of bacteraemia in cuffed and tunnelled haemodialysis catheters"
   file: double_blind_catheter.pdf
   image: double_blind_catheter.jpg
   authors: Peter Diggle
 - title: "Impulsivity versus apathy in Parkinson&#39;s disease: a comparison of clinical, psychiatric and behavioural correlates"
   file: impulsivity_vs_apathy.pdf
   image: impulsivity_vs_apathy.jpg
   authors: In&#234;s Sousa
 - title: "Effect of social deprivation on weight in the UK cystic fibrosis population"
   file: ECF_Weight_29May.pdf
   image: ECF_Weight_29May.jpg
   authors: Peter Diggle
 - title: "Development of &alpha;-synuclein as a potential molecular marker for Parkinson&#39;s disease"
   file: parkinson.pdf
   image: parkinson.jpg
   authors: Gerwyn Green, Peter Diggle
 - title: "Impact of Geostatistical Methods on Determining Boundaries of Hotspots of Malaria"
   file: HotspotMethods_PosterDraft.ppt
   image: HotspotMethods_PosterDraft.png
   authors: Emanuele Giorgi, Peter Diggle
 - title: "Cardiovascular Disease (CVD) Modelling Project"
   file: Kirk_LILAC_Poster_7_October_v2.ppt
   image: Kirk_LILAC_Poster_7_October_v2.png
   authors: Kirk Allen, Peter Diggle
 - title: "Spatio-temporal Changes in Childhood Malaria in Malawi"
   file: malaria_changes.pdf
   image: malaria_changes.png
   authors: Emanuele Giorgi, Peter Diggle

---

{% block main %}
<h1>Research Posters</h1>

{% for posters in resource.meta.posters|batch(2,False) %}
<div class="ym-grid linearize-level-2">
 {% for poster in posters %}
   <div class="ym-g50 ym-gl">
     <div class="poster ym-clearfix">
      <div class="ym-grid">
      {% if poster %}
      <div class="ym-g25 ym-gl">
        <a href="/research_posters/{{poster.file}}"><img class="bordered" src="/research_posters/{{poster.image}}" alt="{{poster.title}}"/></a>
      </div>
      <div class="ym-g75 ym-gl">
        <p><a href="/research_posters/{{poster.file}}">{{poster.title}}</a> : {{poster.authors}}</p>
      </div>
      {% endif %}
      </div>
     </div>
   </div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}
    
{% block sidebar %}
<p>
This collection of research posters showcases our work as displayed
at conferences and meetings.
</p>
<p>
Each image links to PDF or PowerPoint versions for reading.
</p>
{% endblock %}
