---
extends: flexigrid.j2
default_block: main
title: tags
description: all content by tag
---
<h2>Tags</h2>
<p>This page shows all web content by tag.</p>

<p>Jump to: 
{% for tag,meta in site.tagger.tags.to_dict()|dictsort %}
<span class="tag label"><a href="#{{tag}}">{{tag}}</a></span>
{% endfor %}
</p>

{% for tag, meta in site.tagger.tags.to_dict()|dictsort %}
<h3 name="{{tag}}" id="{{tag}}">{{ tag }}</h3>

{# ... and get all resurces tagged with that node. #}
<ul>
{% for res in resource.node.walk_resources_tagged_with(tag) %}
<li><a href="{{res.full_url}}">{{ res.meta.description }}</a></li>
{% endfor %}
</ul>

{% endfor %}

