---
extends: flexigrid.j2
default_block: main
title: Chicas Projects
description: Full project info
---

<h2>Current Projects</h2>

<ul>
{% for res in resource.node.walk_resources() %}
{% if res.meta.extends == "project.j2" and res.is_processable and not res.meta.finished %}
<h3>{{res.meta.title}} : {{res.meta.description}}</h3>

<pre>
{{res.source.read_all().strip()}}
</pre>
{% endif %}
{% endfor %}
</ul>

<h2>Finished Projects</h2>


<ul>
{% for res in resource.node.walk_resources() %}
{% if res.meta.extends == "project.j2" and res.is_processable and res.meta.finished %}
<h3>{{res.meta.title}} : {{res.meta.description}}</h3>
<pre>
{{res.source.read_all().strip()}}
</pre>
{% endif %}
{% endfor %}
</ul>
