---
extends: flexigridisotope.j2
default_block: main
title: Chicas Projects
description: List of projects
---

<h2>Current Projects</h2>

<div id="projects">
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and not res.meta.finished %}
<a href="{{res.full_url}}">
<div class="project">
<span class="title">{{res.meta.title}}</span>
{% if res.meta.image %}
<img width="80" style="float:right" src="{{media_url('/images/content/page_'+res.meta.image.name)}}">
{% endif %}
<span class="description">{{res.meta.description}}</span>
</div>
</a>
{% endif %}
{% endfor %}
</div>

<h2>Finished Projects</h2>

<ul>
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and res.meta.finished %}
<li><a href="{{res.full_url}}">{{res.meta.title}}</a> : {{res.meta.description}}</li>
{% endif %}
{% endfor %}
</ul>
