---
extends: flexigridisotope.j2
title: Chicas Projects
description: List of projects
---
{% block main %}
<h2>Current Projects</h2>
<div id="projects">
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and not res.meta.finished %}

{% set tags=[] %}
{% if res.meta.tags %}
{% for tag in res.meta.tags %}
{% do tags.append("tag-"+tag) %}
{% endfor %}
{% endif %}

<a href="{{res.full_url}}">
<div class="project {{tags|join(' ')}}">

<span class="title">{{res.meta.title}}</span>
{% if res.meta.image %}
<img  src="{{media_url('/images/content/icon_'+res.meta.image.name)}}">
{% endif %}
<span class="description">{{res.meta.description}}</span>
</div>
</a>
{% endif %}
{% endfor %}
</div>

<h2>Finished Projects</h2>

<ul>
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and res.meta.finished %}
<li><a href="{{res.full_url}}">{{res.meta.title}}</a> : {{res.meta.description}}</li>
{% endif %}
{% endfor %}
</ul>
{% endblock %}

{% block sidebar %}
<h2>Tags</h2>
{% set tags=[] %}
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and not res.meta.finished %}

{% if res.meta.tags %}
{% for tag in res.meta.tags %}
{% if tag in tags %}
{% else %}
{% do tags.append(tag) %}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
{% endfor %}

<ul>
{% for tag in tags|sort %}
<li onclick="javascript:$('#projects').isotope({filter: '.tag-{{tag}}'})">{{tag}}</li>
{% endfor %}
</ul>
{% endblock %}
