---
extends: flexigridisotope.j2
title: Chicas Projects
description: List of projects
---
{% block main %}
<h2>Current Projects</h2>
<div id="projects">
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and not res.meta.finished %}

{% set tags=[] %}
{% if res.meta.tags %}
{% for tag in res.meta.tags %}
{% do tags.append("tag-"+tag) %}
{% endfor %}
{% endif %}

<div class="projectbox {{tags|join(' ')}}">
<a href="{{res.full_url}}">
<div class="project {{tags|join(' ')}}">

<div class="title">{{res.meta.title}}</div>
{% if res.meta.image %}
<img  class="" src="{{media_url('/images/content/icon_'+res.meta.image.name)}}">
{% endif %}
<div class="description">
<p>{{res.meta.description}}</p>
</div>
<div style="clear: both;"></div>
</div>
</a>
</div>
{% endif %}
{% endfor %}
</div>

{% endblock %}

{% block sidebar %}
{% set tags=[] %}
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and not res.meta.finished %}

{% if res.meta.tags %}
{% for tag in res.meta.tags %}
{% if tag in tags %}
{% else %}
{% do tags.append(tag) %}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
{% endfor %}

<form class="ym-form">

<div class="ym-fbox">
<h3>Filter By Tag</h3>
      <div class="ym-fbox-wrap">
	<div>
	  <input class="tagfilter" type="radio" name="tags" id="all" data-tag="" checked="yes"/>
	  <label for="all"><span class="tag label">(all projects)</span></label>
	</div>
	{% for tag in tags|sort %}
	<div title="Show projects tagged {{tag}}">
	  <input class="tagfilter" type="radio" name="tags" id="tag-{{tag}}" data-tag="tag-{{tag}}"/>
	  <label for="tag-{{tag}}"><span class="tag label">{{tag}}</span></label>
	</div>
	{% endfor %}
      </div>
</div>
</div>
<div class="ym-wbox">
<h4>Finished Projects</h4>
<ul>
{% for res in resource.node.walk_resources_sorted_by_titling() %}
{% if res.meta.extends == "project.j2" and res.is_processable and res.meta.finished %}
<li><a href="{{res.full_url}}">{{res.meta.title}}</a> : {{res.meta.description}}</li>
{% endif %}
{% endfor %}
</ul>
</div>
{% endblock %}

<!--onclick="javascript:$('#projects').isotope({filter: '.tag-{{tag}}'})">{{tag}}</li>  -->
