<h3>Calendar Integration</h3>
<p>You can add CHICAS events to your personal calendar using the links below. 
Read the documentation of your personal calendar system for details.
</p>
<ul>
<li><a href="https://www.google.com/calendar/ical/e8j7bjqajiblsstfcc59iimss0%40group.calendar.google.com/public/basic.ics"><img src="{{media_url('/images/graphics/ical.gif')}}" alt="ICAL"></a></li>
<li><a href="https://www.google.com/calendar/embed?src=e8j7bjqajiblsstfcc59iimss0%40group.calendar.google.com&ctz=Europe/London"><img src="{{media_url('/images/graphics/html.gif')}}" alt="HTML"></a></li>
</ul>

