{% extends "flexigrid.j2" %}

{% block main %}
<h2>{{ resource.meta.title }}</h2>
{% block event%}
{% endblock %}

{% endblock %}

{% block uppersidebar %}
<h2>Time and Place</h2>
<table class="narrow">
{% if resource.meta.start %}
<tr><td>Start</td><td>{{ resource.meta.startdate|todateformat }}</td></tr>
{% endif %}
 
{% if resource.meta.end %}
<tr><td>End</td><td>{{ resource.meta.enddate|todateformat }}</td></tr>
{% endif %}

{% if resource.meta.location %}
<tr><td>Location</td><td>{{resource.meta.location}}</td></tr>
{% endif %}

</table>


{% endblock %}

