<h2>Calendar</h2>
<p>
<div id="calendar">
</div>
</p>
<p>
The CHICAS calendar of events can be accessed via Google Calendar. Use one of the 
links below to integrate with your personal calendaring system.
</p>
<ul>
<li><a href="https://www.google.com/calendar/ical/e8j7bjqajiblsstfcc59iimss0%40group.calendar.google.com/public/basic.ics">ICAL</a></li>
<li><a href="https://www.google.com/calendar/embed?src=e8j7bjqajiblsstfcc59iimss0%40group.calendar.google.com&ctz=Europe/London">HTML</a></li>
</ul>

