{% extends "flexigrid.j2" %}

{% block sidebar %}
<div class="newsbox">
<h4>Latest News</h4>
{% set latest = resource.node.walk_resources()|selectattr("is_processable")|selectattr("meta.release")|sort(reverse=True, attribute="meta.release")|first() %}
{% if latest.meta.image %}
<img class="newspic" src="{{media_url('/images/news/icon_'+latest.meta.image.name)}}">
{% endif %}
<h6 class="newsdate">{{latest.meta.releasedate.strftime("%e %B, %Y")}}</h6>
<h5><a href="{{latest.url}}">{{latest.meta.title}}</a></h5>
<p>
{{latest.meta.description}}
</p>
</div>
<hr />
<div id="nextevent"></div>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="/media/css/jquery.bxslider.css" />
{% endblock %}

{% block footscripts %}

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>
<script src="/media/js/libs/jquery.bxslider.js"></script>
<script src="/events/run.js"></script>
<script>
$(document).ready(
  function(){
    $('.bxslider').bxSlider(
      {captions: true,
       mode: "fade",
       speed: 1000,
       pause: 6000,
       pager: false,
       auto: true});
    getN(1,"#nextevent","upcomingBox","upcomingItem");
}
);
</script>
{% endblock %}

