<form class="ym-searchform"  action="http://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
<input type="hidden" name="si" value="43738304">
<input type="hidden" name="pid" value="r">
<input type="hidden" name="n" value="0">
<input type="hidden" name="_charset_" value="">
<input type="hidden" name="bcd" value="&#247;">
<input class="ym-searchfield" type="text" name="query" size="15"> 
<input class="ym-searchbutton" type="submit" value="search">
</form>
