{% extends "flexigrid.j2" %}

{% block main %}
<h2>{{ resource.meta.title }}</h2>
{% if resource.meta.affiliation %}
<h3>{{resource.meta.affiliation}}</h3>
{% endif %}
<p>
{% block person %}
{% endblock %}
</p>
{% endblock %}
{% block sidebar %}


{% set imgd = resource.node.root.node_from_relative_path("media/images/people/") %}
{% set r = imgd.contains_resource(resource.slug+".jpg") %}
{% if r %}
<div class="profilepic">
<img src="{{media_url('/images/people/profile_'~resource.slug~'.jpg')}}">
</div>
{% endif %}

{% if resource.meta.email %}
<p>
Email: <a href="mailto:{{resource.meta.email}}">{{resource.meta.email}}</a>
</p>
{% endif %}

{% if resource.meta.orcid %}
<p>
Orcid: <a href="http://orcid.org/{{resource.meta.orcid}}">{{resource.meta.orcid}}</a>
</p>
{% endif %}

{% if resource.meta.pure %}
<p>
Research Portal: <a href="http://www.research.lancs.ac.uk/portal/en/people/{{resource.meta.pure}}/publications.html">Publications</a>
</p>
{% endif %}


{% set projectnode = resource.node.root.node_from_relative_path("projects/") %}
{% set current = [] %}
{% set finished = [] %}
{% for project in projectnode.resources %}
{% for person in project.meta.people %}
{% if person+".html" == resource.name %}

{% if project.meta.finished %}
{% do finished.append(project) %}
{% else %}
{% do current.append(project) %}
{% endif %}

{% endif %}

{% endfor %}
{% endfor %}


{% if current %}
<h2>Current Projects</h2>
<ul>
{% for proj in current %}
<li><a href="{{proj.full_url}}">{{proj.meta.title}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if finished %}
<h2>Finished Projects</h2>
<ul>
{% for proj in finished %}
<li><a href="{{proj.full_url}}">{{proj.meta.title}}</a></li>
{% endfor %}
</ul>
{% endif %}


{% if resource.meta.links %}
<h2>Links</h2>
<ul>
{% for link in resource.meta.links %}
<li>
<a href="{{link.url}}">{{link.description}}</a>
</li>
{% endfor %}
{% endif %}

{% endblock %}