
<form class="ym-searchform" action="http://www.google.com/search" method="get">				
	<input class="ym-searchfield" type="text" maxlength="40" name="q"  value="">
	<input type="hidden" value="chicas.lancaster-university.uk" name="sitesearch">	
	<input class="ym-searchbutton"  type="submit" value="go">
</form>
