---
extends: flexigrid.j2
title: Chicas Events
description: Chicas Events Calendar
---

{% block extrahead %}

<link rel='stylesheet' href="{{media_url('/css/fullcalendar.css')}}" />
<link rel='stylesheet' href="{{media_url('/css/yaml/add-ons/accessible-tabs/tabs.css')}}" />

{% endblock %}


{% block main %}

<h2>Event Listings</h2>
<div class="jquery_tabs">
      <h3 class="eventsection" >Upcoming Events</h3>
      <div class="tabbody">
	<div id="events"></div>
      </div>

      <h3 class="eventsection" >Event Archive</h3>
      <div class="tabbody">

	<div id="eventarchive">

	</div>
      </div>
</div>

{% endblock %}


{% block sidebar %}
<div id="calendar">
</div>
<h3>Calendar Page</h3>
<p>
CHICAS events can also be viewed on the full
<a href="calendar.html">calendar</a> page.
</p>
{% include "calintegration.j2" %}
{% endblock %}


{% block footscripts %}
<script src="{{media_url('/js/libs/jquery.min.js')}}"></script>
<script src="run.js"></script>
<script src="{{media_url('/js/libs/moment.min.js')}}"></script>
<script src="{{media_url('/js/libs/fullcalendar.min.js')}}"></script>
<script src="{{media_url('/css/yaml/add-ons/accessible-tabs/jquery.tabs.js')}}"></script>
<script type='text/javascript' src="{{media_url('/js/libs/gcal.js')}}"></script>
<script>
$(document).ready(function() {

 getN(10,"#events","eventList","eventItem",99999);
 getArchived("#eventarchive","eventList","eventItem",2000)

$('.jquery_tabs').accessibleTabs(
   {
     tabhead: '.eventsection',
     fx: 'show',
     fxspeed: null
   });

// $("#showtoday").bind("click", function(){drawcalendar()});

drawcalendar();

});
</script>
{% endblock footscripts %}
