---
extends: flexigrid.j2
title: Calendar
description: Diary Dates
---
{% block extrahead %}

<link rel='stylesheet' href="{{media_url('/css/fullcalendar.css')}}" />

{% endblock %}

{% block main %}
<h2>Calendar</h2>

<div id="calendar">
</div>

{% endblock %}

{% block sidebar %}
<p>
The CHICAS calendar of events can be accessed via Google Calendar. Use one of the 
links below to integrate with your personal calendaring system.
</p>
<ul>
<li>
<a href="https://www.google.com/calendar/feeds/e8j7bjqajiblsstfcc59iimss0%40group.calendar.google.com/public/basic">XML</a></li>
<li><a href="https://www.google.com/calendar/ical/e8j7bjqajiblsstfcc59iimss0%40group.calendar.google.com/public/basic.ics">ICAL</a></li>
<li><a href="https://www.google.com/calendar/embed?src=e8j7bjqajiblsstfcc59iimss0%40group.calendar.google.com&ctz=Europe/London">HTML</a></li>
</ul>


{% endblock %}


{% block footscripts %}
<script src="{{media_url('/js/libs/jquery.min.js')}}"></script>
<script src="{{media_url('/js/libs/moment.min.js')}}"></script>
<script src="{{media_url('/js/libs/fullcalendar.min.js')}}"></script>
<script type='text/javascript' src="{{media_url('/js/libs/gcal.js')}}"></script>
<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
	googleCalendarApiKey: 'AIzaSyAB1Jd-Jf3U-R84BJzJAPTIYZZmM1sqtjs',
	events: {
	    googleCalendarId: 'e8j7bjqajiblsstfcc59iimss0@group.calendar.google.com',
            className: 'gcal-event'
        },
	header: {
	    left:   'title',
	    center: '',
	    right:  'today prev,next month basicWeek'
	}
        // put your options and callbacks here
    })
    
});
</script>
{% endblock footscripts %}
