---
extends: flexigrid.j2
title: Upcoming Events
description: Upcoming events
---

{% block extrahead %}

<link rel='stylesheet' href="{{media_url('/css/fullcalendar.css')}}" />
<link rel='stylesheet' href="{{media_url('/css/yaml/add-ons/accessible-tabs/tabs.css')}}" />

{% endblock %}


{% block main %}

<div class="jquery_tabs">
      <h2 class="eventsection" >Upcoming</h2>
      <div class="tabbody">
	<h4>Upcoming Events</h4>
	<div id="events"></div>
      </div>
      <h2 class="eventsection" >Calendar</h2>
      <div class="tabbody">
	<h4>Calendar</h4>
	<div id="calendar">
	</div>
      </div>
      <h2 class="eventsection" >Archive</h2>
      <div class="tabbody"> 
	<h4>Archive</h4>
      </div>
</div>

{% endblock %}


{% block sidebar %}

{% include "eventsidebar.j2" %}
{% endblock %}


{% block footscripts %}
<script src="{{media_url('/js/libs/jquery.min.js')}}"></script>
<script src="run.js"></script>
<script src="{{media_url('/js/libs/moment.min.js')}}"></script>
<script src="{{media_url('/js/libs/fullcalendar.min.js')}}"></script>
<script src="{{media_url('/css/yaml/add-ons/accessible-tabs/jquery.tabs.js')}}"></script>
<script type='text/javascript' src="{{media_url('/js/libs/gcal.js')}}"></script>
<script>
$(document).ready(function() {

 getN(10,"#events","eventList","eventItem",99999);

 drawcalendar();

$('.jquery_tabs').accessibleTabs({tabhead: '.eventsection'});

});
</script>
{% endblock footscripts %}
