---
extends: flexigrid.j2
title: Chicas Events
description: Chicas Events Calendar
---

{% block extrahead %}
<link rel='stylesheet' href="{{media_url('/js/libs/jquery.icalendar.css')}}" />

{% endblock %}


{% block main %}

<p>This is the day</p>
<div id="eventhere"></div>
<p>
Please <a id="mydate" href="">Click Me</a>
</p>
{% endblock %}

{% block sidebar %}

{% endblock %}


{% block footscripts %}
<script src="{{media_url('/js/libs/jquery.min.js')}}"></script>
<script src="{{media_url('/js/libs/ouical.min.js')}}"></script>
<script>
var myCalendar = createCalendar({
  // optional, you can pass in 'google', 'yahoo', 'outlook', 'ical'
  calendars: ['google','ical','yahoo','outlook'],
  options: {
    class: 'my-class',

    // You can pass an ID. If you don't, one will be generated for you
    id: 'my-id'
  },
  data: {
    // Event title
    title: 'Get on the front page of HN',

    // Event start date
    start: new Date('June 15, 2013 19:00'),

    // Event duration (IN MINUTES)
    duration: 120,

    // You can also choose to set an end time
    // If an end time is set, this will take precedence over duration
    end: new Date('June 15, 2013 23:00'),     

    // Event Address
    address: 'The internet',

    // Event Description
    description: 'Get on the front page of HN, then prepare for world domination.'
  }
});

document.querySelector('#eventhere').appendChild(myCalendar);

</script>

<script>
var URL = 'data:text/calendar;charset=utf-8,' +
    encodeURIComponent("BEGIN:VCALENDAR\n\
VERSION:2.0\n\
PRODID:-//CHICAS Lancaster University//NONSGML v1.0//EN\n\
BEGIN:VEVENT\n\
UID:uid1@example.com\n\
DTSTAMP:19970714T170000Z\n\
DTSTART:20160714T170000Z\n\
DTEND:20160715T035959Z\n\
SUMMARY:Bastille Day Party\n\
END:VEVENT\n\
END:VCALENDAR\n");

$("#mydate").attr("href", URL);


</script>
{% endblock footscripts %}

