---
extends: flexigrid.j2
title: Chicas Events
description: Chicas Events Calendar
---

{% block extrahead %}

{% endblock %}


{% block main %}

Please <a id="mydate" href="">Click Me</a>

{% endblock %}

{% block sidebar %}

{% endblock %}


{% block footscripts %}
<script src="{{media_url('/js/libs/jquery.min.js')}}"></script>

<script>

var URL = 'data:text/calendar;charset=utf-8,' +
    encodeURIComponent("BEGIN:VCALENDAR\n\
VERSION:2.0\n\
PRODID:-//hacksw/handcal//NONSGML v1.0//EN\n\
BEGIN:VEVENT\n\
UID:uid1@example.com\n\
DTSTAMP:19970714T170000Z\n\
ORGANIZER;CN=John Doe:MAILTO:john.doe@example.com\n\
DTSTART:20160714T170000Z\n\
DTEND:20160715T035959Z\n\
SUMMARY:Bastille Day Party\n\
END:VEVENT\n\
END:VCALENDAR\n");

$("#mydate").attr("href", URL);


</script>
{% endblock footscripts %}

