---
extends: flexigrid.j2
title: Chicas Events
description: Chicas Events Calendar
---

{% block extrahead %}
<link rel='stylesheet' href="{{media_url('/js/libs/jquery.icalendar.css')}}" />

{% endblock %}


{% block main %}

<p>
Four dollar toast waistcoat chillwave asymmetrical whatever, fap jean
shorts deep v. Meditation craft beer lo-fi tumblr occupy. Aesthetic
seitan 3 wolf moon blog, typewriter sustainable before they sold out
occupy. Gentrify yuccie occupy, whatever austin tumblr chicharrones
salvia master cleanse hoodie next level yr narwhal. Mlkshk +1 venmo,
tacos affogato kogi selfies. Mlkshk wayfarers gastropub, kickstarter
tumblr slow-carb chia before they sold out selvage typewriter street
art intelligentsia bitters listicle. Chicharrones cray chartreuse,
hella freegan bitters brunch four dollar toast wolf brooklyn
meditation.
</p><p> Seitan food truck trust fund, flannel sriracha man bun vice
shabby chic ramps chambray meggings godard you probably haven't heard
of them aesthetic yuccie. Gastropub waistcoat tacos crucifix,
cold-pressed vegan banh mi pop-up pitchfork knausgaard. Irony gentrify
pork belly, farm-to-table lomo you probably haven't heard of them
polaroid poutine tumblr keytar cornhole. Godard typewriter church-key
scenester pabst williamsburg. Lumbersexual post-ironic seitan beard,
tilde ennui cronut +1. Food truck tattooed yr, meggings sartorial
hoodie XOXO messenger bag 3 wolf moon lo-fi irony literally cray
readymade man bun. Cold-pressed pour-over readymade shoreditch pork
belly, salvia you probably haven't heard of them pabst yr skateboard
health goth portland.
</p><p>
Readymade tousled small batch offal deep v, 90's sriracha chicharrones squid green juice street art. Keffiyeh hammock organic church-key disrupt selvage. Neutra chartreuse aesthetic mlkshk, man braid messenger bag meggings farm-to-table tilde yuccie etsy venmo. Authentic blue bottle tofu hammock 8-bit craft beer, kitsch hoodie man bun. Paleo roof party PBR&B wolf pinterest tattooed, you probably haven't heard of them four dollar toast banh mi lomo listicle authentic mixtape meggings. Gochujang cliche fixie, intelligentsia kitsch 90's neutra biodiesel forage semiotics cardigan offal. Pitchfork pop-up franzen, selfies biodiesel ethical fanny pack locavore food truck hella synth meh banh mi asymmetrical banjo.
</p>
<div id="eventhere"></div>

{% endblock %}

{% block sidebar %}

{% endblock %}


{% block footscripts %}
<script src="{{media_url('/js/libs/jquery.min.js')}}"></script>
<script src="{{media_url('/js/libs/ouical-orig.min.js')}}"></script>
<script>
var myCalendar = createCalendar({
  // optional, you can pass in 'google', 'yahoo', 'outlook', 'ical'
  calendars: ['google','ical','yahoo','outlook'],
  options: {
    class_name: 'calendaradder',

    // You can pass an ID. If you don't, one will be generated for you
    id: 'addtocalendar'
  },
  data: {
    // Event title
    title: 'Get on the front page of HN',

    // Event start date
    start: new Date('June 15, 2013 19:00'),

    // Event duration (IN MINUTES)
    duration: 120,

    // You can also choose to set an end time
    // If an end time is set, this will take precedence over duration
    end: new Date('June 15, 2013 23:00'),     

    // Event Address
    address: 'The internet',

    // Event Description
    description: 'Get on the front page of HN, then prepare for world domination.'
  }
});

document.querySelector('#eventhere').appendChild(myCalendar);

</script>


{% endblock footscripts %}

