---
extends: flexigrid.j2
title: Upcoming Events
description: Upcoming events
---

{% block extrahead %}

<link rel='stylesheet' href="{{media_url('/css/fullcalendar.css')}}" />

{% endblock %}


{% block main %}
<div class="caldisplay">
<button id="butupcoming">Upcoming</button>
<button id="butarchive">Archive</button>
<button id="butcalendar">Calendar</button>
</div>

<div id="events">
<h2>Upcoming Events</h2>
</div>
<div id="calendar">
<h2>Calendar</h2>
</div>
<div id="archive">
<h2>Archive</h2>
</div>
{% endblock %}


{% block sidebar %}

{% include "eventsidebar.j2" %}
{% endblock %}


{% block footscripts %}
<script src="{{media_url('/js/libs/jquery.min.js')}}"></script>
<script src="run.js"></script>
<script src="{{media_url('/js/libs/moment.min.js')}}"></script>
<script src="{{media_url('/js/libs/fullcalendar.min.js')}}"></script>
<script type='text/javascript' src="{{media_url('/js/libs/gcal.js')}}"></script>
<script>
$(document).ready(function() {

 getN(10,"#events","eventList","eventItem",99999);

 drawcalendar();
  $("#calendar").hide()    

 $("#butcalendar").click(
   function(){
   $("#events").hide();
   $("#archive").hide();
   $("#calendar").show(400, function(){
     $('#calendar').fullCalendar('prev');
     $('#calendar').fullCalendar('next');
    });
  });
 $("#butupcoming").click(
   function(){
   $("#events").show();
   $("#archive").hide();
   $("#calendar").hide();
  });
 $("#butarchive").click(
   function(){
   $("#events").hide();
   $("#archive").show();
   $("#calendar").hide();
  });

});
</script>
{% endblock footscripts %}
