---
extends: flexigrid.j2
title: Student Showcase
description: Student Showcase
---

{% block main %}
<h2>Student Showcase</h2>
<p>
  During their studies, our MSc and MRes students produce reports and posters
  which are mostly novel analyses on real-world data sets, supervised by
  academic staff. This is a showcase list of some of the work of those
  projects. All work appears by permission of the individual student.
</p>

<ul>
  <li><a href="posters_2020.html">MRes Student Posters 2020/2021 Group</a></li>
</ul>

{% endblock %}
    
{% block sidebar %}
<h3>Links</h3>
<ul>
  <li><a href="/study">Study with CHICAS</a> - graduate opportunities</li>
</ul>
{% endblock %}
