---
extends: flexigrid.j2
title: News Items
description: Updates from the group
---
{% block main %}
<h2>News Archive <a href="/news/news.rss" title="News Feed"><img src="/media/images/graphics/rss_icon_glass_red24.PNG"></a></h2>

<table>
{% set items = resource.node.walk_resources()|selectattr("is_processable")|selectattr("meta.release") %}

{% for res in items|sort(reverse=True, attribute="meta.release") %}
{% if res.meta.extends == "news.j2" and res.is_processable %}
<tr><td>{{res.meta.releasedate.strftime("%A, %e %B  %Y")}}</td><td><a href="{{res.full_url}}">{{res.meta.title}}</a> : {{res.meta.description}}</td></tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}

{% block sidebar %}
<h2>News</h2>
<p>The CHICAS news archive lists all the stories that have appeared on our web site. You can
also subscribe to our <a href="/news/news.rss"><img src="/media/images/graphics/rss_icon_glass_red12.PNG">News Feed</a> if you use an RSS news reader.
</p>
{% endblock %}

